<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <script th:src="@{/bootstrap/bootstrap.min.js}"></script>
<!--    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" media="all" />-->
<!--    <link th:href="@{'//fonts.googleapis.com/css?family=Londrina+Solid|Coda+Caption:800|Open+Sans'}" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" th:href="@{/jquery/responsiveslides.css}">
    <script th:src="@{/jquery/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/jquery/responsiveslides.min.js}"></script>

    <script th:src="@{/js/client/accounting.min.js}"></script>
</head>
<body>
<!-- Your HTML content goes here -->
</body>
</html>
